<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Languify</title>
    <link rel="icon" type="image.png.htm" sizes="32x32" href="/static/css/img/pngtree-translating-icon-simple-style-png-image_1838402.jpg">

</head>
<body>
    <div class="frist">
        <h1>WELCOME TO LANGUIFY</h1>
        <h3>At this paltform you can translate any Language</h3>
        <a href="/index" class="btn"><button> Start </button></a>
    </div>
    
</body>
</html>